
.DS_Store

module_11/03_Covid simulator 2020/Soluzione/CoviddiAnalyzer/files/centro.txt

module_11/03_Covid simulator 2020/Soluzione/CoviddiAnalyzer/files/nord.txt

module_11/03_Covid simulator 2020/Soluzione/CoviddiAnalyzer/files/sud.txt

module_11/03_Covid simulator 2020/Soluzione/CoviddiAnalyzer/output.txt
